:root {
	--main-bg-color: #fff;
	--main-text-color: #f58f70;
	--main-sec-color: #37352f;
	--main-border-color: #37352f;
}

[theme="dark"] {
	--main-bg-color: #191919;
	--main-text-color: #f58f70;
	--main-sec-color: #fff;
	--main-border-color: #fff;
}