:root {
	--no-bg-color: #ffffff;
	--no-text-color: #FF1801;
	--no-sec-color: #ffffff;
	--no-border-color: #37352f;

}
[theme="dark"] {
	--no-bg-color: #252525; /*191919 252525*/
  --no-sec-color: #ff8f85;
	--no-text-color: #ff8b80;
	--no-border-color: #fff;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: var(--no-bg-color);
}

body {
  display: flex;
  align-items: center;
  justify-content: left;

  min-height: 100vh;

  margin-left: 16px;
  margin-right: 16px;

  font-family: "space-grotesk-variable", sans-serif;
  font-size: 12px;
  color: var(--no-text-color);

  box-shadow: 0 4px 8px 0 var(--shadow-color);
}

table {
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;

  border-collapse: collapse;
}

th {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;

  font-variation-settings: "wght" 700;
  font-size: 16px;
}

td {
  white-space: nowrap;
}

.body-right {
  float: right;
  direction: ltr;
  white-space: nowrap;
  overflow: visible;
}

.title-right {
  text-align: right;
  direction: rtl;
  
  overflow: visible;
}

/* debug
td, th {
  border: 1px solid #FF1801;
}
*/

td:nth-child(1) {
  width: 50%;
  overflow: visible;
  text-overflow: ellipsis;
}

td:nth-child(2) {
  text-align: left;
  direction: rtl;
  overflow: visible;
}

/* remove SM on LG screns*/
@media (min-width: 200px) {
  .SM_day {
    display: none;
  }
  .SM_body {
    display: none;
  }
}

/* support for SM widths */
@media (max-width: 200px) {
  th:nth-child(1) {
    width: 33%;
    overflow: visible;
    text-overflow: ellipsis;
  }

  .LG_body {
    display: none;
  }
  
  .SM_day {
    display: none;
  }
  .month {
    display: none;
  }
}