@import url("https://fonts.googleapis.com/css?family=Mali:700&display=swap");

:root {
	--bg-color: #fff;
	--text-color: #f58f70;
	--sec-color: #37352f;
	--border-color: #37352f;
}

[clock-data-theme="dark"] {
	--bg-color: #191919;
	--text-color: #9f9f9f;
	--sec-color: #fff;
	--border-color: #fff;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  background: var(--text-color);
  color: #3a3a3a;
  display: flex;
  font-family: "Mali", sans-serif;
}
/* center the visualization in the viewport */
.viz {
  margin: auto;
}
/* size the svg to cover a considerable portion of the viewport */
.viz svg {
  width: 80vmin;
  height: auto;
  text-transform: uppercase;
}


