:root {
	--no-bg-color: #FFFFFF;
	--no-text-color: #f58f70;
	--no-sec-color: #37352f;
	--no-border-color: #37352f;
  --shadow-color: #00000033;
}

[theme="dark"] {
	--no-bg-color: #191919; /*191919*/
  --no-sec-color: #252525;
	--no-text-color: #c3e7ff;
	
	--no-border-color: #fff;
  --shadow-color: #00000067;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--no-bg-color);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100vw - 16px);
  margin: 8px;
  
  min-height: calc(100vh - 24px);

  background: var(--no-sec-color);
  color: var(--no-text-color);

  
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  
  
}

#clock {
  
  background: var(--no-sec-color);

  font-family: "space-grotesk-variable", sans-serif;
  font-variation-settings: "wght" 700;

  font-size: 64px;
}